h1{color: blue;}
.gridIndex{
	display: grid;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, auto);
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}